@model List<WebHafta02.Web.Models.Urun>

<table border="1" style="border:1px solid" width="300">
    <thead>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Fiyatı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.UrunId</td>
                <td>@a.UrunAdi</td>
                <td>@a.UrunFiyati</td>
            </tr>
        }
    </tbody>
</table>