<h1>Hoşgeldiniz...</h1>
<p>Bu hafta boyunca HTTP isteği detaylarını inceleyebilir ve önceki haftaların kısa özetlerine ulaşabilirsiniz.</p>
<p>
    <a class="btn btn-primary" asp-action="HaftalikOzet">Haftalık Özeti Gör</a>
</p>
